.topbar{
    width: 100%;
    height: 50px;            
    display: flex;
    justify-content: center;
    align-items: center;
    margin:35px 0;
}

.topbar__container h1{    
    color:royalblue;
    text-align: center;
}