.card__container{
    display:flex;    
    justify-content: center;    
    width: 50%;    
    margin:auto;
    flex-direction: column;
}

.card {    
    display: flex;
    justify-content: center;
    flex-direction: column;    
    border:1px solid black;
    padding: 10px;
    border-radius: 10px;
    background:orange;
    margin: 15px 0;
    box-sizing: border-box;
    box-shadow: 5px 8px 17px rgba(0,0,0,0.3);
}

.card__content{
    text-align:center;    
    padding: 15px;
}

.card__content h2 {
    margin-bottom: 0.5rem;
}

.card__btn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex:4;
}

.button {
    background-color: teal;
    color:white;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    border-radius:5px;
}

.input {
    border-bottom: 1px solid grey;
    color:black;
    padding: 5px;
}

